callback1001(
{
	"items":
    [
        {% for entry in feed %}
        {
            "title": "{{ entry.title }}",
            "description": "{{ entry.description }}"
			
        },
        {% endfor %}
	]
}	);